.container {
    background-color: #d3d2d2;
    width: 850px;
    height: 324px;
    margin-top: 10px;
    display: flex;
}

#main1 {
    display: inline-block;
    width: 270px;
    height: 324px;
    margin-right: 20px;
    justify-content: center;
}

#main2 {
    display: inline-block;
    width: 270px;
    height: 324px;
    margin-right: 20px;
    justify-content: center;
}

#main3 {
    display: inline-block;
    width: 270px;
    height: 324px;
    justify-content: center;
}

h2 {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin: 35px;
    font-family: 'Oswald', sans-serif;
}

#links {
    display: block;
    margin-left: 65px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

pre {
    width: 200px;
    height: 150px;
    display: flex;
    margin: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    justify-content: flex-end;
}

#flex-start {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 35px;
    font-family: 'Oswald', sans-serif;
}

p {
    width: 200px;
    height: 150px;
    display: flex;
    margin: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

#msg {
    height: 60px;
}

button {
    background-color: black;
    color: white;
    margin-top: 5px;
    padding: 4px 12px;
}

article {
    display: flex;
    justify-content: flex-start;
    width: 200px;
}